@import "ionic.globals";

$colors: (
  primary:    #2d90f9,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

@import "ionic.theme.default";

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
